TELEGRAM_BOT_TOKEN=set-locally-never-commit
SHOP_API_URL=https://vpn.my.domain.ru
PUBLIC_BASE_URL=https://vpn.my.domain.ru
SHOP_API_SECRET=same-as-API_SECRET-on-the-site
TELEGRAM_ADMIN_ID=0
TELEGRAM_CHANNEL=
ADMIN_PANEL_URL=https://vpn.my.domain.ru/private-admin-path
BOT_MENU_CONFIG=/etc/vpn-bot-menu.json
